@import "colors";

$drawerWidth: 260;

.transition {
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.containerFluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  @extend .containerFluid;

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 992) {
    max-width: 970px;
  }

  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

.boxShadow {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
